<p id="notice"><%= notice %></p>

<h2>
  <strong>Tytul:</strong>
  <%= @ksiazka.tytul %>
</h2>
<h3>
  <strong>Autor:</strong>
  <%= @ksiazka.autor %>
</h3>
<p>
  <strong>Opis:</strong>
  <%= @ksiazka.opis %>
</p>
<%= link_to 'Back', ksiazkas_path %>

<% if uzytkownik_signed_in? %>

  <% if @ksiazka.uzytkownik_id == current_uzytkownik.id %>

    <%= link_to 'Edit', edit_ksiazka_path(@ksiazka) %> |
    <%= link_to 'Usuń', @ksiazka, method: :delete, data: {confirm: 'Czy napewno?'} %>

  <% end %>

<% end %>

